h1 {
  color: rainbow;
}
.wrapper {
  text-align: center;
  border-width: 4px;
  border-style: solid;
  border-color: white;
  background-color: rgb(255, 200, 0);
  border-spacing: 0px;
  padding: 50px;
}

button {
  font-size: 45px;
  color: black;
  border-radius: 100%;
}

#minutes,
#seconds,
#tenths {
  font-size: 25px;
}

#button-start {
  background-color: #04aa6d;
}
#button-stop {
  background-color: yellow;
}
#button-reset {
  background-color: red;
}
