body {
  background-color: #ffa600;
}

h1 {
  color: white;
  font-size: 70px;
}

.wrapper {
  text-align: center;
  border-spacing: 0px;
  padding: 50px;
}

button {
  font-family: Orbitron;
  font-size: 35px;
  color: black;
  border-radius: 50%;
  padding: 15px;
}

#minutes,
#seconds,
#tenths {
  font-size: 50px;
}
#colon {
  font-size: 50px;
}

#button-start {
  background-color: #04aa6d;
}
#button-stop {
  background-color: yellow;
}
#button-reset {
  background-color: red;
}
